$container-spacing-1: 50px;

$ellipse-dim-1 : 180px;
$ellipse-dim-2 : 90px;
$ellipse-radius-1: 50%;

$triangle-dim-1: 100px;
$triangle-linetype-1: solid;
$triangle-fill-1: transparent;

$rectangle-dim-1: 120px;
$rectangle-dim-2: 80px;